##
## {{ ansible_managed }}
##

{% if zabbix_common__userparameter.comment is defined %}
# {{ zabbix_common__userparameter.comment }}
{% endif %}

{% for userparameter in zabbix_common__userparameter.userparameter|d([]) %}
{% if userparameter.comment is defined %}
# {{ userparameter.comment }}
{% endif %}
UserParameter={{ userparameter.key }},{% if userparameter.sudo|d(False)|bool %}sudo {% endif %}{{ userparameter.command -}}

{% endfor %}
